@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&display=swap');


*{
    margin: 0;
}

body{
    /* background-color: chocolate; */
    display: flex; /* Aquí el mago style lanza su encantamiento sobre el cuerpo del pergamino, el documento HTML*/
    justify-content: center;/**/

    background-image: url('../storage/img/greeimm-bae-.jpg');/**/
    background-size: auto 100vh;/*Con un gesto mágico, el mago style establece un contenedor flexible para alinear sus elementos*/
    background-position: center top;/*el mago style mueve su varita para alinear los elementos en el centro horizontalmente dentro del contenedor flexible*/
    background-repeat: no-repeat;/*el mago style invoca una imagen mágica desde el pergamino URL y la fija como fondo del cuerpo*/
    background-attachment: fixed;/*La imagen mágica se fija en su lugar, inmóvil, incluso cuando el pergamino se desplaza, como una ilustración encantada*/
    background-size: cover;/*La imagen mágica se estira para cubrir todo el cuerpo, sin dejar espacios vacíos, adaptándose perfectamente a su contenedor*/
}

main{/* Style invoca su hechizo sobre el elemento principal del pergamino */
    
    /* background-color: red; */

    background-image: url('../storage/img/pergamino_solo_copy.png');/* Style convoca una imagen mágica desde la URL y la fija como fondo del elemento principal */
    background-size: 100% 102%; /* La imagen mágica se ajusta para cubrir el 100% del ancho y el 102% del alto del elemento, expandiéndose ligeramente más alto */
    background-position: center;/* Style posiciona la imagen mágica en el centro del elemento, asegurando que esté perfectamente equilibrada */
    background-repeat: no-repeat;/* Con un hechizo, Style asegura que la imagen mágica no se repita, quedando única en su lugar */

    display: flex;/* Style usa magia para establecer un contenedor flexible que permitirá alinear sus elementos hijos */
    flex-direction: column;/* Los elementos dentro del contenedor flexible se apilarán mágicamente en una columna, uno encima del otro */
    align-items: center;/* Style centra todos los elementos dentro del contenedor flexible en su eje transversal (horizontalmente) */
    
    width: 80vw;/* El ancho del elemento principal se establece en el 80% del ancho de la ventana mágica, ocupando la mayor parte del espacio disponible */
    height: 90vh;/* La altura del elemento principal se establece en el 90% de la altura de la ventana mágica, casi llenándola por completo */
    padding: 20px;/* Style añade un relleno mágico de 20 píxeles dentro del elemento, creando espacio alrededor del contenido interno */
    margin: 10px;/* Style agrega un margen mágico de 10 píxeles alrededor del elemento, separándolo de otros elementos */
    
    gap: 5px;/* Style deja un espacio mágico de 5 píxeles entre los elementos hijos del contenedor flexible, para que no estén apretados */

}

header h1{
    font-size: 1.5rem;/*style aplica un tamaño de fuente de 1.5 adaptable*/
    font-family:'Playwrite AU NSW', sans-serif;
}

ul{/* Estilo básico del contenedor ul */
    /* background-color: cadetblue; */
    
    display: flex;/* Define un contenedor flexible */
    flex-direction: column;/* Organiza los elementos en una columna */

    gap: 10px;/* Espacio entre los elementos */

    width: 70vw;/* Ancho del 70% del viewport */
    height: 100vh;/* Altura del 100% del viewport */
    padding: 0;/* Sin relleno interno */

    overflow-y: scroll;/* Scroll vertical si es necesario */
    scrollbar-width: none;/* Oculta la barra de desplazamiento */
}

li{
    background-color: #805a0234;/* Color de fondo con opacidad */
    border-radius: 15px;/* Bordes redondeados */

    gap: 10px;/* Espacio entre los elementos */

    display: flex;/* Contenedor flexible */
    align-items: center;/* Alineación vertical al centro */
}

.task-text {
    /* background-color: bisque; */
    display: flex;/* Contenedor flexible */
    flex-direction: column;/* Organización en columna */
    width: 50%;/* Ancho del 50% del contenedor padre */
    padding: 10px;/* Relleno interno */
    border-radius: 5px;/* Bordes redondeados */
    overflow-wrap: anywhere; /* Permite el ajuste de palabras */
    height: auto;/* Permite que el contenedor crezca con el contenido */
}

#task-search{
    border: none; /* Hechizo para eliminar el borde */
    outline: none;/* Hechizo para eliminar el contorno */
    background: none;/* Hechizo para eliminar el fondo */
    padding: 0; /* Hechizo para eliminar el relleno */
    margin: 0; /* Hechizo para eliminar el margen */

    background-color: #805a0234;/* Conjura un fondo transparente como un pergamino */
    border-radius: 20px 0px 0px 20px;/* Bordes mágicamente redondeados en las esquinas izquierda */
    padding: 10px;/* Añade un relleno encantado para comodidad */
}
#task-search::placeholder {
    color: #000;/* El color del texto mágico del marcador de posición */
}

#add-task-btn{
    appearance: none;/* Encantamiento para eliminar la apariencia predeterminada */
    border: none;/* Hechizo para eliminar el borde */
    background: none;/* Hechizo para eliminar el fondo */
    cursor: pointer;/* Varita mágica para cambiar el cursor a un puntero */

    background-color: #2db0ca4d;/* Conjura un fondo mágico y semi-transparente */
    border-radius: 0px 20px 20px 0px;/* Bordes mágicamente redondeados en las esquinas derecha */
    padding: 10px;/* Añade un relleno encantado para comodidad */
}

.task-actions{
    /* background-color: chartreuse; */
    
    display: flex;/* Encantamiento para alinear elementos en una fila */
    flex-direction: row;/* Dirección del hechizo de flexión */
    justify-content: center;/* Encantamiento para centrar los elementos */

    gap: 10px;/* Espaciado encantado entre los elementos */

    width: 60%;/* Ancho encantado del contenedor */
}

.complete-btn{
    appearance: none;/* Hechizo para eliminar la apariencia predeterminada */
    border: none;/* Hechizo para eliminar el borde */
    background: none;/* Hechizo para eliminar el fondo */
    cursor: pointer;/* Varita mágica para cambiar el cursor a un puntero */

    border-radius: 5px;/* Bordes suavizados por encantamiento */
}

.complete-btn.ready {
    background-color: rgba(0, 128, 0, 0.405);/* Conjura un fondo verde semitransparente para el estado 'Ready' */
}

.complete-btn.on-hold {
    background-color: rgba(255, 166, 0, 0.387);/* Conjura un fondo ámbar semitransparente para el estado 'On hold' */
}

button.delete-btn {
    appearance: none;/* Hechizo para eliminar la apariencia predeterminada */
    border: none;/* Hechizo para eliminar el borde */
    background: none;/* Hechizo para eliminar el fondo */
    cursor: pointer;/* Varita mágica para cambiar el cursor a un puntero */

    background-color: #80020234;/* Conjura un fondo rojo semitransparente para el botón de eliminación */
    border-radius: 5px;/* Bordes suavizados por encantamiento */
}



